<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="io.github.yemyatthu1990.child">

    <application>
        <service
            android:name=".service.ChildNetworkGuard"
            android:enabled="true"
            android:exported="true" />
    </application>

</manifest>